node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
deployed/*.json
args/*.js

.env
.env.*
!.env.example

config.json
